<IfModule mod_rewrite.c>
DirectoryIndex index.html
  RewriteEngine On
  RewriteBase /pixellab-drip-collage-maker/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>