.navbar_container {
  background-image: url("../../assests/navbarImg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 550px;
  max-height: 700px;
}
.navbar_line {
  position: absolute;
  /* display: flex; */
  width: 100%;
  align-items: center;
}
.pixelLogoBox {
  margin-top: 15px;
  margin-right: 100px;
  margin-left: 160px;
}
.nav {
  background-color: transparent !important;
  height: 100px;
  align-items: center;
}
.navbar {
  padding: 10px 0;
}
.navbar-expand-lg .navbar-nav {
  margin-left: 250px;
}

.pixelImg {
  height: 90px;
}
.nav-item {
  margin: 10px 100px 0px 0px;
}

.nav-link {
  text-align: center;
  font: normal normal medium 35px/42px Poppins;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
}
.nav-link.active {
  color: #fe0c7c;
}
.nav-link:focus {
  color: #fe0c7c;
}
.nav-link:hover {
  color: #fe0c7c;
}
.editPhoto {
  height: 440px;
  margin-top: -40px;
}
.lines_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 140px;
}

.line1 {
  text-align: center;
  font: normal normal 600 50px/75px Poppins;
  letter-spacing: 0px;
  color: #ff9900;
  opacity: 1;
}
.line2 {
  text-align: center;
  font: normal normal normal 15px/29px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  width: 470px;
}
.gpay {
  width: 190px;
  height: 50px;
  background: transparent linear-gradient(117deg, #079cd4 0%, #f33fff 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 13px;
  opacity: 1;

  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpay:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.appstore:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.gpay.color-1 {
  background-image: linear-gradient(
    to right,
    #079cd4,
    #f33fff,
    #25aae1,
    #40e495
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.appstore.color-2 {
  background-image: linear-gradient(
    to right,
    #a900ff,
    #fc2da3,
    #ff6060,
    #25aae1
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.gpay,
.appstore:focus {
  outline: none;
}
.appstore {
  width: 190px;
  height: 50px;
  background: transparent
    linear-gradient(113deg, #a900ff 0%, #fc2da3 21%, #ff6060 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_section {
  display: flex;
  width: 445px;
  margin-left: 200px;
  margin-top: 25px;
  justify-content: space-between;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  align-items: center;
  text-align: center;
}
.btn_icon {
  margin-right: 5px;
  font-size: 30px;
}
.navbar-collapse {
  width: 330px;
  margin-top: -40px;
  margin-bottom: -20px;
}

@media only screen and (max-width: 767px) {
  .nav-item {
    padding: 5px 10px;
  }
  .lines_section {
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
  }
  .container-fluid {
    display: flex;
    justify-content: space-between;
  }
  .pixelLogoBox {
    margin-right: 0px;
    margin-left: 0px;
  }
  .hide {
    display: none;
  }
  .gpay_mb {
    margin-bottom: 30px;
  }
  .btn_section {
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
    width: 100%;
  }
  .navbar_container {
    background: #07015c;
    min-height: 800px;
    max-height: 900px;
    margin-bottom: 50px;
  }
  .line2 {
    width: 100%;
    padding: 5px;
  }
  .line1 {
    font: normal normal 600 40px/60px Poppins;
    padding: 5px;
  }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (min-device-width: 1580px) and (max-device-width: 4000px) {
  .navbar_container {
    background-repeat: round;
  }
}

@media only screen and (width: 280px) {
  .navbar-collapse {
    margin-left: -100px;
  }
  .navbar_container {
    min-height: 980px;
  }
  .img_container {
    width: 98% !important;
  }
}
